#banner
  .banner_content
    %h1 Notepad by Rony Fhebrian
    %p Penyimpanan catatan online seperti Evernote, tapi berbeda sikit
    %button= link_to "Daftar", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "Aplikasi notepad terkeren di dunia "
    %p.name "Rony Fhebrian"

#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil.fa-3x
        %h2 Catatan
        %p Occupy listicle pop-up direct trade waistcoat, authentic fap. Distillery small batch yr tacos kinfolk normcore, fixie plaid wolf chicharrones XOXO. Lumbersexual wolf lo-fi lomo irony try-hard, twee fap deep v selvage.
      .callout
        %i.fa.fa-rocket.fa-3x
        %h2 Fitur
        %p Occupy listicle pop-up direct trade waistcoat, authentic fap. Distillery small batch yr tacos kinfolk normcore, fixie plaid wolf chicharrones XOXO. Lumbersexual wolf lo-fi lomo irony try-hard, twee fap deep v selvage.
      .callout
        %i.fa.fa-bolt.fa-3x
        %h2 Tentang
        %p Occupy listicle pop-up direct trade waistcoat, authentic fap. Distillery small batch yr tacos kinfolk normcore, fixie plaid wolf chicharrones XOXO. Lumbersexual wolf lo-fi lomo irony try-hard, twee fap deep v selvage.

#bottom_cta
  .wrapper
    %h2 Mendaftar!
    %p Daftar di sini jika ingin merasakan memiliki Note
    %button= link_to "Daftar", new_user_registration_path

%footer
  %p &copy; Rony Fhebrian
